<!DOCTYPE html>
<html>
<head>
    <title>Kasim.ir - the artist</title>
    <meta name="author" content="Karsten Janke"/>
    <meta name="keywords" content="Kunst, art, malerei, watercolor, wasserfarben, watercolour, plastiken, grafiken"/>
    <meta name="description" content="Die offizielle Seite des Künstlers Kasim.ir"/>
    <link rel="icon" type="image/png" href="{{ STATIC_URL }}img/favicon.png"/>

    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  
    <link rel="stylesheet" href="{{ STATIC_URL }}js/fotorama/fotorama.css" type="text/css">
    <script src="{{ STATIC_URL }}js/jquery/dist/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/fotorama/fotorama.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>

    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css">
</head>
<body>

<div id="nav">
    <div id="kasimir"></div>
    <ul>
        <a href="/">
        <li><b>ALL WORK</b><br>
        ALLE ARBEITEN
        </a>
    </ul>
 
    <ul>
        <a href="/categories">
        <li><b>BY CATEGORIES</b><br>
        NACH KATEGORIEN
        </a>
    </ul>
 
    <ul>
        <a href="#">
        <li><b>CONTACT & BUY</b><br>
        KONTAKT &amp; KAUF
        </a>
    </ul>
 
    <ul>
        <a href="#">
        <li><b>BLOG</b><br>
        BABUH!
        </a>
    </ul>
 
    <ul>
        <a href="#">
        <li><b>ABOUT ME</b><br>
        ÜBER MICH
        </a>
    </ul>
</div>

<div id="content">
{% block content %}{% endblock %}
</div>

</body>
</html>